body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('image.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

h1 {
  text-align: center;
  color: #fff; /* Adjust text color for better readability over background */
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search-container input {
  padding: 8px;
  font-size: 16px;
}

.suggestions {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

.movie-section {
  padding: 20px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 5px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.movie-item {
  width: 200px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.movie-poster img {
  width: 100%;
  border-radius: 5px;
}

.movie-info h3 {
  font-size: 18px;
  color: #333;
}

button {
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 14px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.loading-spinner {
  display: none;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.loading-spinner.hidden {
  display: none;
}
